<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raymond Pham</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/index_style.css')}}">
</head>
<body>
<div class="container">        <!-- for the background  -->     
    <div class="title">                  
        <h1> Scrape The Dishes </h1>
    </div>  
    <p>{{ error_statement }}</p>   
    <form action="/recipe" class="search-bar" autocomplete="off">  <!-- we want to take the user to the recipe tab after the form has been submitted-->
        <input type="text" required placeholder="Paste recipe url here pls :>" name="url" id="url"> <!-- text for input box  -->
        <button type ="submit"><img src = "{{url_for('static', filename = 'images/search.png')}}"></button> <!-- clickable button on the side that will submit the users input -->
    </form>
</div>
</body>
</html>