<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/recipe_style.css')}}">
</head>
<body>
    <div class="container">
        <div class="data_container">
            <div class="name_box">
                <button onclick="history.back()">Go Back</button>
                <h1>{{ name }}</h1>
            </div>

            <div class="url">
                <p> <strong>by:</strong> <a href="{{ url }}" target="_blank"> {{ url }}</a></p>
            </div>

            <img src="{{ thumbnail_url }}" /> 


            <div class="time_grid">
                <div class="prep_time_box">
                    <p> <font size = "4"> <strong>Prep Time:</strong> </font> {{ prep_time }} minutes</p>
                </div>

                <div class="cook_time_box">
                    <p> <font size = "4"> <strong>Cook Time:</strong> </font> {{ cook_time }} minutes</p>
                </div>

                <div class="total_time_box">
                    <p> <font size = "4"> <strong>Total Time:</strong> </font> {{ total_time }} minutes</p>
                </div>
            </div>  

            <div class="list_grid">
                <div class="ingredients_box">
                    <h2>Recipe Ingredients</h2>
                    <ul>
                        {% for ingredient in ingredients %}
                        <li> {{ ingredient }} </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="instructions_box">
                    <h2>Recipe Instructions</h2>
                    <ol>
                        {% for instruction in instructions %}
                        <li> {{ instruction }} </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>

        </div>

    </div> 
</body>
</html>